.wrapper {width:500px;height:200px;position:relative;}
.wrappertwo {width:200px;height:500px;position:relative;}
.wrappertwo .circle,
.wrapper .circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	position:absolute;
	opacity:0.8;
}
.wrappertwo .circle .title,
.wrapper .circle .title {
	margin-left:75px;
	margin-top:30px;
	font-size:32px;
	color:#fff;
}

#circleone {background:#7f8198;left:0;top:0;}

#circletwo {background:#b1af7f;left:165px;top:0;}

#circlethree {background:#7f8198;left:0;top:0;}

#circlefour {background:#b1af7f;left:0;top:165px;}
.item {width:370px;}
.item .centered {width:100%;text-align:center;}
.item .centered .button-linktwo,
.item .centered .button-linkone {
    padding: 15px;
    margin-left:10px;
    background: #cccccc;
    color: #FFF;
    height:40px;
    width:40px;
    border-radius: 50%;
    border:0;
    cursor:pointer;
}
input[type=text] {border-radius:12px;background:#cccccc;margin:0 auto;width:200px;height:20px;padding:10px;margin:20px 0;border: 0px solid;}